body {
  margin: 0;
  background-color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, -apple-system, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Helvetica Neue", Helvetica, -apple-system, system-ui, sans-serif;
}

#root {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: auto;
}